/* default or fallback values */
body {
  background-color: rgba(73,54,46);
  color: bisque;
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
  height: 25vh;

  /* some variables for page wide stuff, only one instance, not needed */
  --page-banner-max-height: 500px
}


/* TODO: fix gap up top */
header {
  background-image: url(/content/img/wood-panel-dark-brown.jpg);
  /* margin-top: 0px; */
  max-height: var(--page-banner-max-height);
  object-fit: fill;
}

#page-heading {
  text-align: center;
}

#page-heading {
  text-align: center;
}

#main {
  border: 3px solid red;
  display: flex;
  flex-direction: row;
}

.content-deck {
  border: 3px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;;
  margin: 10%;
}

.text-section {
  font-size: 1.5rem;
}

.card {
  background-color: darkorchid;
  border: 1px solid black;
  padding: 1rem;
  margin: .2rem;
  border-radius: 3rem;
  box-shadow: .5rem .5rem .5rem black;
}

.card:hover {
  box-shadow: 1.5rem 1.5rem 1.5rem black;
  transform: translate3d(.1rem, .1rem, 2rem);
}

.deck {
  min-width: 10rem;
  max-width: 20%;
  max-height: 30rem;
  /* TODO: read eventual overflowing text */
  overflow: hidden;
}

.content-sidebar-column {
  border: 1px solid red;
  margin-right: 1vw;
}

/* TODO: does this need somthing of it's own? */
/* .column {

} */