:root {
  /* Main site color selection */
  /* Dark Theme */
  --color-dark-theme-main1: rgb(164, 68, 0);
  --color-dark-theme-main2: rgb(82, 34, 0);

  --color-dark-theme-contrast1: plum;

  /* Bright Theme */

}

/* Font styling */