body{
  background-color: var(--dark-theme-color-background);
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header-base {
  background-color: var(--color1); /* DELETE when done */

  height: 30vh;
}

#sidescrapers-base {
  background-color: var(--color2); /* DELETE when done */

  width: 100%;
}

#main-base {
  background-color: var(--color3); /* DELETE when done */

  margin: 0px 10%;
  height: 2000px;
  flex: 1;
}

#footer-base {
  background-color: var(--color4); /* DELETE when done */

  width: 100vw;
  min-height: fit-content;
  align-self: flex-end;
}