:root {
  /* Main site color selection */
  /* Dark Theme */
  --dark-theme-color-background: rgb(50, 50, 50);
  --dark-theme-color-main1: rgba(255, 132, 0, 0.797);
  --dark-theme-color-main2: rgba(94, 61, 37, 0.797);

  --dark-theme-color-contrast1: plum;

  --dark-theme-color-accent1: violet;

  --dark-theme-color-shade1: rgba(0, 0, 0, 0.666);

  --dark-theme-color-shadow1: rgba(92, 92, 92, 0.526);

  /* footer styling */
  --dark-theme-color-footer-background: rgba(70, 70, 70, 0.452);

  --footer-link-unvisited: blue;
  --footer-link-visited: blue;

  /* Font color */
  --dark-theme-color-font1: black;
  
  /* Bright Theme */

  /* Font styling */



  /* TEMP STYLING FOR ALIGNMENT */
  --color1: red;
  --color2:blue;
  --color3:green;
  --color4:yellow;
  
}
