/* defaults, page fallback*/
body {
    background-color: var(--standard-background-color-dark-theme);
    color: var(--standard-color-dark-theme);
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

/* variable declaration */
:root {
    --page-sizes-nav-bar-height: 10%;
    --page-sizes-nav-bar-max-height: 150px;
    --page-sizes-nav-bar-content-padding: 20px;
}

/* styling for main page elements */
#nav-bar-base {
    background-color: bisque;
    color: black;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
}

.nav-bar-video-container {
    width: 100%;
    height: var(--page-sizes-nav-bar-height);
    max-height: var(--page-sizes-nav-bar-max-height);
    overflow: hidden;
}

.video-nav-bar-background {
    object-fit: cover;
}

.hosted-video {
    background-color: black;
    z-index: 0;
}

.nav-bar-content-container {
    color: white;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    z-index: 1;
}

#nav-bar-hompage-link {
    margin: 0px;
}

/* TODO: logo link styling */
/* .logo-link {
} */

.logo-default{
    max-height: var(--page-sizes-nav-bar-max-height);
}

#nav-bar-menu-links {
    background-color: rgba(112, 128, 144, 0.056);
}

#nav-bar-menu-links a {
    background-color: rgba(0, 0, 0, 0.305);



}

#nav-bar-menu-links a:hover {
    font-size: 150%;
}

#content-base {
    background-color: darkorange;
    color: black;
    margin-top: var(--page-sizes-nav-bar-max-height);
    padding-top: var(--page-sizes-nav-bar-content-padding);
    margin-bottom: auto;
    padding-right: 10vw;
    padding-left: 10vw;
}

.content-element-deck {
    display: flex;
    flex-wrap: wrap;
}

.content-element-card {
    border-radius: 25px;
    max-width: 25%;
    max-height: 25%;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.254);
}

/* footer styling */
#footer-base {
    background-color: black;
    color: beige;
    display: flex;
    justify-content: end;
}

.footer-empty-space {
    width: 75vw;
}

.footer-content-container {
    background-color: darkslategrey;
    margin-right: 0px;
}

.footer-contact-info {
  list-style-type: none;
  margin: 1%;
}