/* loaded background and fallbacks */
body {
  background-color: rgb(131, 165, 171);
  margin: 0px;
  color: black;
  /* put variables here */
  --frame-height: 80vh;
  --frame-width: 80vw;
  --number-display-rows: 1;
}


/* calculator frame */
#frame {
  border: 2px solid green; /* DEL when done */
  background-color: rgba(0, 0, 0, 0.249);
  height: var(--frame-height);
  width: var(--frame-width);
  padding: 5vh 5vw;
  /*have to use longhand to select top and botom corners*/
  border-top-left-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  margin: 3vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* display of calculator, possibly multiple lines */
#display {
  border: 2px solid green; /* DEL when done */
  background-color: rgba(0, 0, 0, 0.249);
  border-radius: 2rem;
  padding: 2.5rem;
  margin-bottom: 2.5rem;
  height: calc(var(--frame-height) * 1/5);
}

.display-row{
  border: 2px solid green; /* DEL when done */
}

/* buttons to push, numbers and functions */
#keyboard {
  border: 2px solid green; /* DEL when done */
  background-color: rgba(0, 0, 0, 0.249);
  display: flex;
  justify-content: right; /* right is closer to thumb, can't satisfy both rh an lh */
  height: calc(var(--frame-height) * 2/5);
  border-radius: 1rem;
}

.button {
  border: 2px solid green; /* DEL when done */
  background-color: grey;
  border-radius: .3rem;
  color: black;
  min-width: 20%;
  min-height: 20%;
}

/* @media querries device specific attributes */
@media (any-hover) {
  .button:hover {
  background-color: rgb(199, 199, 199);
  }
}

.button:active {
  background-color: rgb(70, 70, 70);
}

#keyboard--section-functions {
  border: 2px solid green; /* DEL when done */
  background-color: rgba(0, 0, 0, 0.249);
  margin-right: 5px;
  border-radius: 1rem;
}

.functions {
  border: 2px solid green; /* DEL when done */
  
}

#keyboard-section-numbers {
  border: 2px solid green; /* DEL when done */
  background-color: rgba(0, 0, 0, 0.249);
  border-radius: 1rem;
}

.numbers {
  border: 2px solid green; /* DEL when done */

}