/* loaded background and fallbacks */
body {
  background-color: rgb(131, 165, 171);
  margin: 0px;
  color: black;
  /* put variables here */
  --frame-height: 80vh;
  --frame-width: 80vw;
  --display-rows: 1;
}


/* calculator frame */
#frame {
  border: 2px solid green; /* DEL when done */
  background-color: rgba(0, 0, 0, 0.249);
  height: var(--frame-height);
  width: var(--frame-width);
  padding: 5vh 5vw;
  /*have to use longhand to select top and botom corners*/
  border-top-left-radius: 10vh;
  border-top-right-radius: 10vh;
  border-bottom-right-radius: 10vh;
  border-bottom-left-radius: 10vh;
  margin: 3vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* display of calculator, possibly multiple lines */
#display-frame {
  border: 2px solid green; /* DEL when done */
  background-color: rgba(0, 0, 0, 0.249);
  border-radius: 2rem;
  padding: 2.5rem;
  margin-bottom: 2.5rem;
  height: calc(var(--frame-height) * 1/5);
}

#display {
  border: 2px solid green; /* DEL when done */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

/* buttons to push, numbers and functions */
#keyboard {
  border: 2px solid green; /* DEL when done */
  background-color: rgba(0, 0, 0, 0.249);
  display: flex;
  justify-content: right; /* right is closer to thumb, can't satisfy both rh an lh */
  height: calc(var(--frame-height) * 2/5);
  border-radius: 1rem;
}

#keyboard-section-functions {
  border: 2px solid green; /* DEL when done */
  background-color: rgba(0, 0, 0, 0.249);
  margin-right: 5px;
  border-radius: 1rem;
  width: calc( 95% * 1/3);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.functions {
  border: 2px solid green; /* DEL when done */
  height: 95%;
}

#keyboard-section-numbers {
  border: 2px solid green; /* DEL when done */
  background-color: rgba(0, 0, 0, 0.249);
  border-radius: 1rem;
  width: calc( 95% * 2/3);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.keyboard-numbers-row {
  border: 2px solid green; /* DEL when done */
  width: 95%;
  height: calc(95% * 1/5);
  display: flex;
  justify-content: space-between;
}

.numbers {
  border: 2px solid green; /* DEL when done */
  width: calc( 90% / 3 );
  height: 95%;
}

.button {
  border: 2px solid green; /* DEL when done */
  background-color: rgba(128, 128, 128, 0.901);
  border-radius: .3rem;
  color: black;
}

/* disables wrapped block for devices with no support */
@media (any-hover) {
  .button:hover {
    background-color: rgb(199, 199, 199);
  }
}

.button:active {
  background-color: rgb(70, 70, 70);
}