/* CONTENT
    - HTML && BODY
    - GENERAL
    - GUI
    - SECTIONS
    - ELEMENTS  :WIP:
    !!! (DEV) !!! // this means delete before publishing
*/


/* === HTML && BODY === */
html {
width: 100%;
height: 100%;

margin: 0;
}

body {
width: 100%;
height: 100%;

margin: 0;
}


/* === GENERAL === */
#main-content {
  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
}

.section {
  height: 100vh;
}

/* NOT WORKING
#main-content {
  scroll-snap-type: y mandatory;
}
.snap-point {
  scroll-snap-align: start;
}
*/

.link {
 color: inherit;
 text-decoration: none;
}

/* .link:visited {} */

.link:hover {
  filter: invert(10);
}

.link:active {
  color: black;
}

ul {
  padding: 0;
  list-style-type: none;
}

svg {
  width: min-content;
  max-width: 100%;
  height: min-content;
  max-height: 100%;
}

.gui.bar {
  background-color: var(--color-basic-base);
  color: var(--color-basic-font-base);

  /* border radius for nav elements */
  --border-radius-closed: 25% 50%;
  --border-radius-extended: 100% 25%;
}


/* === GUI === */
#gui-overlay {
  /* lay over page  */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999; /* probably unnecessary due to position in flow*/

  width: 100%;
  height: 100%;

  /* grid */
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr repeat(3, 2fr) 1fr;
}

/* == presence == */
#gui-nav-presence {
  /* position in grid */
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  /* form */
  width: 100%;
  height: 100%;
  border-top-right-radius: var(--border-radius-closed);
  border-bottom-right-radius: var(--border-radius-closed);
}

/* hidey effect */
#gui-nav-presence {
  /* setup for transition */
  position: relative;
  left: -6vw;

  /* transition properties */
  /* transition-property: all; */
  transition-duration: 500ms;
  /* this delay is "inverted" from the naive thought about how it works */
  transition-delay: 200ms;
}
#gui-nav-presence:hover {
  /* transition change to */
  left: 0;
  border-top-right-radius: var(--border-radius-extended);
  border-bottom-right-radius: var(--border-radius-extended);

  /* this delay is "inverted" from the naive thought about how it works */
  transition-delay: 0s;
}

#gui-nav-presence > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
}

/* == breadcrumbs == */
#gui-nav-breadcrumbs {
  /* position in grid */
  grid-column: 3 / 4;
  grid-row: 2 / -2;
  justify-self: end;
  align-self: center;

  /* form */
  box-sizing: border-box;
  width: 50%;
  height: min-content;
  padding: 10% 5%;


  justify-content: center;
  align-items: center;

  border-top-left-radius: var(--border-radius-closed);
  border-bottom-left-radius: var(--border-radius-closed);
}

#gui-nav-breadcrumbs > * {
  width: 100%;
}


/* === SECTIONS === */
/* == hero == */ 
#hero {
  background: url(/content/img/home/hero.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

/* == carusel == */
#carusel {
  background: var(--color-basic-d2);
}

/* == info == */
#info {
  background-image: url(/content/img/home/hero.png);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}


/* === ELEMENTS === */


/* !!! (DEV) !!! */
.section {
  border: solid 1px red;
}