/* hack to set every element to use border-box as default */
* {
  box-sizing: border-box;
}

html {
  margin: 0px;
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 2fr 7fr 1fr;
  grid-template-rows: 2fr 7fr 1fr;

  margin: 0px;
  width: 100%;
  height: 100%;

  background-color: #3a1354;
}

#nav-top {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  
  background-color: #424D4D;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  border-bottom: rgb(103, 103, 103) solid 2px;

  overflow-x: auto;
}

ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;

  margin: 2% 2%;
  width: 40%;
}

li {
  list-style-type: none;
  padding: 0px 5%;
}

.icon-standard {
  /* sets the color of the svg image */
  filter: invert(13%) sepia(32%) saturate(3399%) hue-rotate(254deg) brightness(93%) contrast(106%);
  fill: red;

  width: 5em;
  height: 5em;
}

@media (any-hover) {
  .icon-standard:hover {
    filter: drop-shadow(0 0 0.75rem crimson);
  }
}



#drumkit-wrapper {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  height: auto;
  width: 100%;
}

#gui-buttons-wrapper {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
}

#drum-kit {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  height: 100%;

  padding: 5%;

  gap: 5%;
}

.instrument {
justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;
  width: 100%;

  padding: 0px 10%;

  background-color: #867562;
  border: white solid 2px;
  border-radius: 50%;


  color: #D9FCFC;
  text-align: center;

  width: fit-content;
}

@media (any-hover) {
  .instrument:hover {
    filter: drop-shadow(0 0 0.75rem royalblue);
  }
}