html {
  /* variables*/
  --background-gradient: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
  --background-color: #1F2937;
}

body {
  background-color: var(--background-color);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  min-width: 350px;

  /* typography */
  color: var(--text-color-default);
  font-family: var(--text-color-default);
}

#block-top {
  background: var(--background-gradient);
  height: calc( 100% * 3/7);
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  height: 40%;
  align-items: center;
  padding-top: 5%;
  /* fixes font size fixed to width of veiwport, might not be a good idea */
  font-size: calc(100vw * 1/15);
  margin: 0px;
}

#input-field {
  background-color: transparent;
  width: 95%;
  height: 40%;
  min-height: 6.5rem;
  border: 0;
  font-size: 6.5rem;
  text-align: center;
  color: var(--text-color-default);
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0em;
  padding-bottom: 5%;
}

#input-field::placeholder {
  color: inherit;
  opacity: 1;
}

#block-bottom {
  min-height: calc(100% * 7/14);
  padding: calc(100% * 1/20) 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.info-block-wrapper {
  text-align: center;
  width: 95vw;
  padding: 1.2em 0px;
}

.output-typography {
  padding: 1em 0px;

  color: var(--text-toned-down-color);
  font-weight: var(--text-toned-down-weight);
  font-size: var(--text-toned-down-size);
  line-height: var(--text-toned-down-height);
}
