html {
  /* variables*/
  --background-gradient: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
  --background-color: #1F2937;
}

body {
  background-color: var(--background-color);
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;
  min-width: 350px;

  /* typography */
  color: var(--text-color-default);
  font-family: var(--text-color-default);
}

#block-top {
  background: var(--background-gradient);
  height: calc( 100% * 3/7);
  min-height: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
  
  /* fixes font size to width of veiwport, this fails on accessability (zoom 400% test) */
  font-size: calc(100vw * 1/15);
}

#input-field {
  background-color: transparent;
  width: 95%; /* this overflows after 6 digits */
  border: 0;
  font-size: 6.5rem;
  text-align: center;
  color: var(--text-color-default);

  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0em;
}

#input-field::placeholder {
  color: inherit;
  opacity: 1;
}

#block-bottom {
  height: calc(100% * 7/14);
  padding-top: calc(100% * 1/14);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-block-wrapper {
  text-align: center;
  padding: 2%;
}

.output-typography {
  color: var(--text-toned-down-color);
  font-weight: var(--text-toned-down-weight);
  font-size: var(--text-toned-down-size);
  line-height: var(--text-toned-down-height);
}
