body, html {
  background-color: var(--page-color1);
  color: var(--page-text-color1);
}

#header-wrapper {
  margin: 10% 10%;
  
}

header {
  font-size: 3rem;
  font-family: var(--page-text-font-family-header);
  font-style: normal;
  font-weight: 800;
}

p {
  color: var(--page-text-color1-var1);
  font-family: var(--page-text-font-family-header);
}

span {
  color: var(--page-text-color2);
}

#submit-button {
  background-color: var(--page-color-accent);
  color: inherit;
  border-radius: 6px;
  background-image: url(content/icon-generate.svg);
  background-repeat: no-repeat;
  background-position: left 10% top 50%;
  background-size: 1.3em;
  padding: .5em 1em;
  text-align: right;
  min-width: 13em;
  margin: 2em 10%;
}

#submit-button:active {
  transform: translate3d(0px, .05em, 1em);
}

hr {
  --ratio: 60%;
  background-color: var(--page-color2);
  height: .02rem;
  width: calc(var(--ratio));
  margin: 2em calc(calc(100% - var(--ratio)) * 1/2);
  border-color: transparent;
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  margin: 1em;
}

.output-field {
  color: var(--page-text-color2);
  text-align: center;
  background-color: var(--page-color2);
  background-image: url(content/icon-dots.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0px;
  min-width: 20em;
  padding: .5em 1em;
  margin: 2em;
  border-radius: 6px;
}

.output-field::placeholder {
  color: #202B3C;
  opacity: 1;
}
