body[data-theme = "dark"] {
  /* page color pallete */
  --page-color1: #1F2937;
  --page-color2: #273549;
  --page-color-accent: #10B981;

  /* page typography */
  --page-text-color1: #FFFFFF;
  --page-text-color2: #4ADF86;
  --page-text-color1-var1: #D5D4D8;

  --page-text-family-header: 'Karla';
  --page-text-family-info: Inter;
}

body[data-theme = "light"] {
  /* page color pallete */
  --page-color1: #E5E7EB;
  --page-color2: #273549;
  --page-color-accent: #10B981;

  /* page typography */
  --page-text-color1: #2B283A;
  --page-text-color2: #4ADF86;
  --page-text-color1-var1: #6B7280;

  --page-text-family-header: 'Karla';
  --page-text-family-info: Inter;
}